@font-face {
  font-family: "Departure Mono";
  src: url(./DepartureMono-Regular.otf);
}

:root {
  --page-font-color: #1a1a1a;
  --page-background-color: #8b9491;
  --border-color: grey;
  --border-shadow: rgb(240, 238, 238);
  --a-color: #376253;
  --a-hover-color: #093d29;
  --main-background-color: silver;
}

body {
  font-family: "Departure Mono";
  color: var(--page-font-color);
  background-color: var(--page-background-color);
}

a {
  text-decoration: none;
}
a,
a:visited,
a:active {
  color: var(--a-color);
}
a:hover {
  color: var(--a-hover-color);
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3.5rem;
}

header {
  font-size: xx-large;
}

main {
  margin-top: 3.5rem;
  width: 50%;
  height: 20rem;
  text-align: center;
  background-color: var(--main-background-color);
  border: 5px solid var(--border-color);
  border-style: solid;
  border-color: var(--border-color) var(--border-shadow) var(--border-shadow) var(--border-color);
  border-width: 5px 5px 5px 5px;
}

.tab-element {
    width: 100%;
    border-style: solid;
    border-color: var(--border-color);
    border-width: 0 0 5px 0;
    font-size: x-large;
    font-weight: bold;
}

.tab-content {
    padding: 1rem 0;
    font-size: large;
}